<nav>
  <% if(user) { %>
  <p>Welcome To the app. <%= user.username %></p>
  <a href="/users/<%= user._id %>/application">Your Application</a>
  <a href="/users/<%= user._id %>/application/new">Add an Application</a>
  <a href="/auth/sign-out">Sign out</a>
  <% } else { %>
  <p>Welcome To the app, guess</p>
  <a href="/auth/sign-up">sign-up</a>
  <a href="/auth/sign-in">sign-in</a>
  <a href="/auth/sign-out">sign-out</a>
  <% } %>
</nav>
